#define BASE 0
#define LOWR 1
#define UPPR 2
#define ADJU 3
#define FUNC 4
#define MEDI 5

#define MAKE_HRM(NAME, DISP, TRIGGER_POS)                  \
  ZMK_HOLD_TAP(NAME, display-name = DISP;                  \
               bindings = <&kp>, <&kp>;                    \
               flavor = "balanced";                        \
               require-prior-idle-ms = <125>;              \
               tapping-term-ms = <280>;                    \
               quick-tap-ms = <175>;                       \
               hold-trigger-key-positions = <TRIGGER_POS>; \
               hold-trigger-on-release;)

MAKE_HRM(hml, "Home Row Mod L", KEYS_R)
MAKE_HRM(hmr, "Home Row Mod R", KEYS_L)

#define MAKE_LAYER_TAP(NAME, DISP, BINDING) \
  ZMK_HOLD_TAP(NAME, display-name = DISP;   \
               bindings = <&mo>, <BINDING>; \
               flavor = "balanced";         \
               tapping-term-ms = <280>;     \
               quick-tap-ms = <175>;)

MAKE_LAYER_TAP(ltt, "Layer-Tap", &kp)

#define MAKE_MORPH(NAME, MOD, BINDING1, BINDING2)   \
  ZMK_MOD_MORPH(NAME, mods = <(MOD_##MOD)>;         \
                bindings = <BINDING1>, <BINDING2>;)

MAKE_MORPH(sqtundr, LSFT, &kp SQT, &kp UNDER)
MAKE_MORPH(dotcolon, LSFT, &kp DOT, &kp COLON)
MAKE_MORPH(mindqt, LSFT, &kp MINUS, &kp DQT)
MAKE_MORPH(commsemi, LSFT, &kp COMMA, &kp SEMI)

#define MAKE_COMBO_IDLE(NAME, BINDINGS, KEYPOS)    \
  ZMK_COMBO(NAME, BINDINGS, KEYPOS, BASE, COMBO_TERM, 175)

MAKE_COMBO_IDLE(tab, &kp TAB, LT2 LT3)
MAKE_COMBO_IDLE(enter, &kp ENTER, RT2 RT3)
ZMK_COMBO(spc_lower, &kp SPACE, LT2 LT3, LOWR)
ZMK_COMBO(bspc_upper, &kp BSPC, RT2 RT3, UPPR)
ZMK_COMBO(caps_word, &caps_word, LM1 RM1, BASE)

#define MAKE_BT_TAP_DANCE(PROFILE)                                                           \
  ZMK_TAP_DANCE(bt##PROFILE, display-name = ZMK_HELPER_STRINGIFY(Bluetooth Profile PROFILE); \
                bindings = <&macro_bt##PROFILE>, <&bt BT_DISC PROFILE>;)                     \
  ZMK_MACRO(macro_bt##PROFILE, bindings = <&out OUT_BLE>, <&bt BT_SEL PROFILE>;)

MAKE_BT_TAP_DANCE(0)
MAKE_BT_TAP_DANCE(1)
MAKE_BT_TAP_DANCE(2)

ZMK_CONDITIONAL_LAYER(adjust, LOWR UPPR, ADJU)

#define HM_N &hml LCTRL N
#define HM_R &hml LALT R
#define HM_T &hml LGUI T
#define HM_S &hml LSHFT S
#define HM_H &hmr RSHFT H
#define HM_A &hmr RGUI A
#define HM_E &hmr RALT E
#define HM_I &hmr RCTRL I

#define SPC_LOWR  &ltt LOWR SPACE
#define RET_FUNC  &ltt FUNC ENTER
#define BSPC_UPPR &ltt UPPR BSPC
#define DEL_MEDI  &ltt MEDI DEL
