[submodule "Vim Base16 color scheme"]
	path = vim/pack/ui/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "Vim Base16 color schemes for Lightline"]
	path = vim/pack/ui/start/base16-vim-lightline
	url = https://github.com/mike-hearn/base16-vim-lightline.git
[submodule "Vim Tabular plugin"]
	path = vim/pack/format/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "Vim NERD Tree plugin"]
	path = vim/pack/nav/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "Vim Lightline plugin"]
	path = vim/pack/ui/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "Vim Fugitive plugin"]
	path = vim/pack/vcs/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "Vim Gitgutter plugin"]
	path = vim/pack/vcs/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "Vim Go plugin"]
	path = vim/pack/syntax/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "Vim Searchant plugin"]
	path = vim/pack/ui/start/searchant
	url = https://github.com/timakro/vim-searchant.git
[submodule "fzf"]
	path = vim/pack/nav/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "Vim TOML plugin"]
	path = vim/pack/syntax/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "Vim HCL plugin"]
	path = vim/pack/syntax/start/vim-hcl
	url = https://github.com/jvirtanen/vim-hcl.git
