[submodule "Vim Tabular plugin"]
	path = vim/pack/format/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "Vim NERD Tree plugin"]
	path = vim/pack/nav/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "Vim Lightline plugin"]
	path = vim/pack/ui/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "Vim Fugitive plugin"]
	path = vim/pack/vcs/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "Vim Gitgutter plugin"]
	path = vim/pack/vcs/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "Vim Go plugin"]
	path = vim/pack/syntax/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "fzf"]
	path = vim/pack/nav/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "Vim TOML plugin"]
	path = vim/pack/syntax/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
	branch = main
[submodule "Vim HCL plugin"]
	path = vim/pack/syntax/start/vim-hcl
	url = https://github.com/jvirtanen/vim-hcl.git
	branch = main
[submodule "Vim searchhi plugin"]
	path = vim/pack/nav/start/searchhi
	url = https://github.com/qxxxb/vim-searchhi.git
[submodule "Vim UltiSnips plugin"]
	path = vim/pack/misc/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "Vim Nord color scheme"]
	path = vim/pack/ui/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
	branch = main
[submodule "Vim Everforest color scheme"]
	path = vim/pack/ui/opt/everforest
	url = https://github.com/sainnhe/everforest.git
[submodule "NeoVim LSP configs"]
	path = nvim/site/pack/lang/start/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "NeoVim Cmp plugin"]
	path = nvim/site/pack/lang/start/cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
	branch = main
[submodule "NeoVim LSP source for Cmp"]
	path = nvim/site/pack/lang/start/cmp-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
	branch = main
[submodule "NeoVim Vsnip source for Cmp"]
	path = nvim/site/pack/lang/start/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip.git
	branch = main
[submodule "NeoVim Vsnip plugin"]
	path = nvim/site/pack/lang/start/vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "NeoVim Vsnip plugin integrations"]
	path = nvim/site/pack/lang/start/vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ.git
[submodule "NeoVim Fugitive plugin"]
	path = nvim/site/pack/vcs/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "NeoVim Gitgutter plugin"]
	path = nvim/site/pack/vcs/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "NeoVim searchhi plugin"]
	path = nvim/site/pack/nav/start/searchhi
	url = https://github.com/qxxxb/vim-searchhi.git
[submodule "NeoVim Vim-Go plugin"]
	path = nvim/site/pack/syntax/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "NeoVim Tree plugin"]
	path = nvim/site/pack/nav/start/tree
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "NeoVim Lightline plugin"]
	path = nvim/site/pack/ui/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "NeoVim WebDevicons plugin"]
	path = nvim/site/pack/ui/start/webdevicons
	url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule "NeoVim Nord color scheme"]
	path = nvim/site/pack/ui/opt/nord
	url = https://github.com/arcticicestudio/nord-vim.git
	branch = main
[submodule "NeoVim Everforest color scheme"]
	path = nvim/site/pack/ui/opt/everforest
	url = https://github.com/sainnhe/everforest.git
