window#waybar {
    background-color: initial;
}

#rightgroup,
#leftgroup {
    margin-left: 6px;
    padding: 12px 0;
    background-color: @theme_bg_color;
    border-radius: 8px;
}
#leftgroup {
    margin-top: 10px;
}
#rightgroup {
    margin-bottom: 10px;
}

#battery,
#bluetooth,
#clock,
#cpu,
#custom-1password,
#memory,
#network,
#temperature,
#window,
#wireplumber {
    padding: 8px 0;
}

#battery.warning:not(.charging) {
    color: @warning_color;
}
#battery.critical:not(.charging) {
    color: @error_color;
}

#clock {
    padding-bottom: 0;
}

#custom-expand {
    color: @theme_unfocused_fg_color;
}

window#waybar.empty #window {
    padding: 0 0;
}

/* https://github.com/Alexays/Waybar/wiki/Styling#making-waybar-follow-the-gtk-theme */
#workspaces button {
    color: @unfocused_insensitive_color;
}
#workspaces button.empty {
    color: @insensitive_base_color;
}
#workspaces button.focused {
    color: @theme_fg_color;
}
