#battery,
#bluetooth,
#clock,
#cpu,
#custom-1password,
#memory,
#network,
#temperature,
#window,
#wireplumber {
    padding: 0 8px;
}

#custom-expand {
    padding: 0 16px;
    color: @theme_unfocused_fg_color;
}

/* https://github.com/Alexays/Waybar/wiki/Styling#making-waybar-follow-the-gtk-theme */
#workspaces button {
    color: @unfocused_insensitive_color;
}
#workspaces button.empty {
    color: @insensitive_base_color;
}
#workspaces button.focused {
    color: @theme_fg_color;
}
